* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Matemasie', sans-serif;
    font-weight: 500;
}
:root{
    --bg-color: black;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;

}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    word-spacing: 3rem;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    word-spacing: normal;
}
.logo:hover{
    transform: scale(1.1);
}
.logo-span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 120vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding-right: 120px;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 2;
}
.home-img{
    border-radius: 50%;

}
.home-img img{
    position: relative;
    top: 3rem;
    height: 600px;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 5px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin-top: 20px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn-group{
    word-spacing: 2rem;
}
.btn:hover{
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(1):hover{
    transform: scale(1.3)translateY(-5px);
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 5px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 200px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developper";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100px;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI / UX Designer";
    }
    61%,
    80%{
        content: "Software Tester";
    }
    81%,
    100%{
        content: "Software Tester";
    }
}
@keyframes typing {
    0% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

.bubble {
    position: absolute;
    background: var(--main-color); /* Couleur des bulles */
    border-radius: 50%;
    opacity: 2.6;
    pointer-events: none; /* Empêche les bulles d'interférer avec les clics */
    animation: bubble-animation 1s infinite;
}
/* Animation des bulles */
@keyframes bubble-animation {
    0% {
        transform: translateY(100vh) scale(0.5);
        opacity: 0.8;
    }
    50% {
        transform: translateY(-50vh) scale(1.5);
        opacity: 0.6;
    }
    100% {
        transform: translateY(-100vh) scale(0.5);
        opacity: 0.8;
    }
}

/* Variabilité des bulles */
.bubble:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 10%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 30%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-duration: 10s;
    animation-delay: 4s;
}



